---
layout: default
---

<div class="home-columns">
  <div class="column-left">
<div class="home">
  <h2>Taking business into orbit.</h2>
  <h4><b>From <a href="/rust-belt">Rust Belt</a>, to <a href="company/focus/2025/03/14/building-for-remote-regions.html">Kalahari</a> to the <a href="/cosmic-commerce">Cosmos</a>, we are pioneering <a href="/tools-for-life">digital & physical tools</a> that help people work & learn.</b></h4>
<p><a href="/workwarrior">Workwarrior</a> grows the ecosystem of open source productivity tools for individuals & industries. Get the terminal app <a href="https://github.com/babbworks/workwarrior">on GitHub</a>. </p>
<p><a href="/workpads">Workpads</a> is a protocol & mobile app for <a href="projects/workpads/2025/03/14/logging-business-events.html">creating & sharing business records</a>, based on <a href="/bitpads">Bitpads</a>. Launching on <a href="/kaios">KaiOS</a>!</p>
<h4>🚀 Read our <a href="/oath-for-orbit">Oath for Orbit</a>.</h4>
<h4>🛣️ Checkout our <a href="/roadmaps">roadmaps</a>.</h4>
<p>🌌 Why <a href="/name">Babb</a>?</p>
</div>
</div>

 <div class="column-right">
  <h2><b><a href="/updates">Updates</a></b></h2>
  <ul>
    {% for post in site.posts limit:30 %}      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </ul>

  </div>
</div>